:root {
  --main-color: #ffffff;
  --text-color: #434455;
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: #2e2f42;
  --hero-background: #2e2f42;
  --modal-background: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--main-color);
  max-width: 1440px;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
  display: inline-block;
  margin-bottom: 16px;
}

.logo-span {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark);
  display: inline-block;
  margin-bottom: 16px;
}

.container {
  padding: 0 15px;
  border: #2e2f42;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #e7e9fc;
}

.header_nav_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  padding-top: 0px;
  list-style: none;
  text-align: center;
}

.header_adress_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  padding-top: 0px;
  text-align: end;
  align-items: flex-end;
}

.nav_text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--modal-overlay);
}

.nav_text:focus {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--pressed-state);
}

.nav_text:hover {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--pressed-state);
}

.nav_adress {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.nav_adress:hover {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--pressed-state);
}

.nav_adress:focus {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--pressed-state);
}

.main {
  background: var(--hero-background);
}

.main_text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-color);
  width: 496px;
  height: 120px;
}

.main_container {
  box-sizing: border-box;
  width: 1440px;
  height: 600px;
  padding-left: 472px;
  padding-right: 472px;
  padding-top: 188px;
}

.main_buttom {
  background-color: var(--primary-brand);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--main-color);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.main_buttom:hover {
  background-color: var(--pressed-state);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--main-color);
}

.main_buttom:focus {
  background-color: var(--pressed-state);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--main-color);
}

.main_sec_our {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.our_container {
  margin-top: 120px;
  max-width: 1440px;
  width: 100%;
  margin-left: 156px;
  margin-right: 156px;
}

.our_container_list {
  max-width: 1128px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0;
  list-style: none;
}

.our_container_item {
  width: 264px;
}

.our_item {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.our_text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.doing_container {
  margin-top: 120px;
  max-width: 1440px;
  width: 100%;
  margin-left: 102px;
  margin-right: 102px;
}

.doing_container_list {
  max-width: 1128px;
  width: 100%;
  margin-top: 72px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0px;
  list-style: none;
}

.team_container {
  max-width: 1440px;
  width: 100%;
  max-height: 732px;
  margin-top: 163px;
  padding-right: 156px;
  padding-left: 156px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team_container_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  padding-top: 0px;
  list-style: none;
  text-align: center;
}

.main_sec_doing {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--modal-overlay);
}

.team {
  background: var(--light);
}

.main_sec_team {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--modal-overlay);
}

.team_container_h {
  text-align: center;
  padding-bottom: 72px;
  padding-top: 120px;
  padding-left: 639px;
  padding-right: 639px;
}

.pic_color {
  background-color: var(--main-color);
}

.team_item {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--modal-overlay);
  background-color: var(--main-color);
}

.team_text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--text-color);
  background-color: var(--main-color);
}

.nav_footer {
  padding: 100px 0;
  background: var(--modal-overlay);
}

.footer_text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--light);
  max-width: 264px;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: var(--light);
  display: inline-block;
  margin-bottom: 16px;
}

.portfolio_buttom {
  background-color: var(--light);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--primary-brand);
}

.portfolio_buttom:hover {
  background-color: var(--pressed-state);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--main-color);
}

.portfolio_buttom:focus {
  background-color: var(--pressed-state);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--main-color);
}

.portfolio_item {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--modal-overlay);
}

.portfolio_text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
